* {
  font-family: 'Roboto', sans-serif;
}

body {
  background-image: url("./assets/burger-friends.jpg");
  background-size: cover;
  margin: 0px;
  background-repeat: no-repeat;
}

.main-page {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

.question-line {
  display: flex;
  background-color: #0fb9b1;
}

h3 {
  position: relative;
  left: 2%;
}

.boxes {
  display: flex;
  height: auto;
  width: 100%;
  position: relative;
  top: 50px;
}

#left-box {
  display: flex;
  background-color: rgba(225, 225, 225, .9);
  height: 280px;
  width: 400px;
  flex-direction: column;
}

h2 {
  margin-left: 40px;
}

h2:after {
  position: relative;
  content: " *";
  color: #ee5253;
  display: inline;
}

label {
  padding: 6px;
  position: relative;
  left: 8%;
}

.lets-cook-button {
  background-color: #0fb9b1;
  width: 40%;
  height: 10%;
  position: relative;
  left: 10%;
  top: 5%;
  border-color: blue;
}

#right-box {
  display: flex;
  background-color: rgba(225, 225, 225, .9);
  height: 280px;
  width: 400px;
  flex-direction: column;
}

h4 {
  font-style: italic;
  text-align: center;
  margin-top: 75px;
}

h1 {
  text-align: center;
  font-size: 30px;
}

.cookpot-logo {
  width: 100px;
  position: relative;
  top: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  display: flex;
}

.clear-button {
  background-color: #95a5a6;
  border-color: #95a5a6;
  color: white;
  position: relative;
  top: 55%;
  left: 82%;
}

.hidden {
  display: none;
}
